{% set title = 'Login' %}

{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

	<div class="admin-form theme-info mw500" id="login">

		<!-- Login Logo -->
		<div class="row table-layout">
			<a href="{{ path('site_homepage') }}" title="Return to Feedback International">
				<img src="{{ asset('bundles/site/assets/img/logos/logo.png') }}" title="Feedback International" class="center-block img-responsive" style="max-width: 275px;">
			</a>
		</div>

		<!-- Login Panel/Form -->
		<div class="panel mt30 mb25">

			<form id="login-form" action="{{ path("fos_user_security_check") }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				<div class="panel-body bg-light p25 pb15">

					<!-- Username Input -->
					<div class="section">
						<label for="username" class="field-label text-muted fs18 mb10">{{ 'security.login.username'|trans }}</label>
						<label for="username" class="field prepend-icon">
							<input type="text" name="_username" id="username" class="gui-input" placeholder="Enter username">
							<label for="username" class="field-icon">
								<i class="fa fa-user"></i>
							</label>
						</label>
					</div>

					<!-- Password Input -->
					<div class="section">
						<label for="password" class="field-label text-muted fs18 mb10">{{ 'security.login.password'|trans }}</label>
						<label for="password" class="field prepend-icon">
							<input type="password" name="_password" id="password" class="gui-input" placeholder="Enter password">
							<label for="password" class="field-icon">
								<i class="fa fa-lock"></i>
							</label>
						</label>
					</div>
				</div>

				{% if error %}
					<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<div class="panel-footer clearfix">
					<button id="_submit" name="_submit" type="submit" class="button btn-primary mr10 pull-right" value="{{ 'security.login.submit'|trans }}">Sign In</button>
					<label class="switch ib switch-primary mt10">
						<input type="checkbox" name="_remember_me" id="remember_me" value="on">
						<label for="remember_me" data-on="YES" data-off="NO"></label>
						<span>{{ 'security.login.remember_me'|trans }}</span>
					</label>
				</div>

			</form>
		</div>

		<!-- Registration Links -->
		<div class="login-links">
			<p>
				<a href="{{ path('fos_user_resetting_request') }}" class="active" title="Sign In">Forgot Password?</a>
			</p>
			<p>Haven't yet Registered?
				<a href="{{ path('fos_user_registration_register') }}" title="Sign In">Sign up here</a>
			</p>
		</div>

		<!-- Registration Links(alt) -->
		<div class="login-links hidden">
			<a href="{{ path('fos_user_security_login') }}" class="active" title="Sign In">Sign In</a> |
			<a href="{{ path('fos_user_registration_register') }}" class="" title="Register">Register</a>
		</div>

	</div>


{% endblock body %}

