{% use 'head.html.twig' %}
{% use 'page_elements.html.twig' %}
{% use 'js_footer_includes.html.twig' %}

{{ block('html_head') }}

<body class="external-page sb-l-c sb-r-c">

<div class="alert hidden"></div>

<!-- Start: Main -->
<div id="main" class="animated fadeIn">

	<!-- Start: Content-Wrapper -->
	<section id="content_wrapper">

		<!-- begin canvas animation bg -->
		<div id="canvas-wrapper">
			<canvas id="demo-canvas"></canvas>
		</div>

		<!-- Begin: Content -->
		<section id="content">

			{% block body %}
				{% block fos_user_content %}{% endblock %}
			{% endblock %}

		</section>
		<!-- End: Content -->

	</section>
	<!-- End: Content-Wrapper -->

</div>
<!-- End: Main -->

{{ block('js_footer_includes') }}

{% block javascripts %}{% endblock %}

</body>
</html>
