{% block newsletter %}

	<div class="panel panel-info bw10">

		<!-- end .form-header section -->
		{{ form_start(subscribe, {'action': '/process/newsletter', 'attr': {'id': 'newsletter-subscribe'}}) }}
			<div class="panel-menu">
				<div class="row">
					<div class="col-md-9">
						<label for="password" class="field prepend-icon">
							{{ form_widget(subscribe.email) }}
							<label for="password" class="field-icon">
								<i class="fa fa-envelope-o"></i>
							</label>
						</label>
					</div>
					<div class="col-md-3">
						<button type="submit" class="button btn-info mr10 btn-block">Notify</button>
					</div>
				</div>
			</div>
			<!-- end .form-body section -->

		{{ form_end(subscribe) }}
	</div>

{% endblock %}

