{% block root %}
	<div class="topbar-left">
		<ol class="breadcrumb">
			{%- for link in menu_manipulator(item) %}
				{%- if loop.index == 1 %}
					<li class="crumb-icon"><a href="{{ path('site_homepage') }}" title="Go to Home"><span class="glyphicon glyphicon-home"></span></a></li>
				{%- elseif not loop.last %}
					<li class="crumb-link"><a href="{{ link.uri }}">{{ link.label | trans }}</a></li>
				{%- else %}
					<li class="crumb-trail">{{ link.label | trans }}</li>
				{%- endif %}
			{%- endfor %}
		</ol>
	</div>
{% endblock %}
