{% use ':admin:page_elements.html.twig' %}
{% use ':admin:head.html.twig' %}
{% use ':admin:page_header.html.twig' %}
{% use ':admin:sidenav.html.twig' %}
{% use ':admin:right_sidebar.html.twig' %}
{% use ':admin:js_footer_includes.html.twig' %}

<!DOCTYPE html>
<html>

<head>
	{{ block('html_head') }}
</head>

<body class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %}" data-spy="scroll" data-target="#nav-spy" data-offset="300">

<!-- Start: Main -->
<div id="main">

	{{ block('page_header') }}
	{{ block('side_nav') }}

	<!-- Start: Content-Wrapper -->
	<section id="content_wrapper">

		<!-- Start: Topbar -->
		<header id="topbar" class="alt">
			{% block breadcrumbs %}
				<div class="topbar-left">
					{{ knp_menu_render('breadcrumbs', {currentClass: 'active','template': 'AdminBundle:Menu:breadcrumb.html.twig'}) }}
				</div>
			{% endblock %}
			{#<div class="topbar-right">#}
			{#<div class="ib topbar-dropdown">#}
			{#<label for="topbar-multiple" class="control-label pr10 fs11 text-muted">Reporting Period</label>#}
			{#<select id="topbar-multiple" class="hidden">#}
			{#<optgroup label="Filter By:">#}
			{#<option value="1-1">Last 30 Days</option>#}
			{#<option value="1-2" selected="selected">Last 60 Days</option>#}
			{#<option value="1-3">Last Year</option>#}
			{#</optgroup>#}
			{#</select>#}
			{#</div>#}
			{#<div class="ml15 ib va-m" id="toggle_sidemenu_r">#}
			{#<a href="#" class="pl5">#}
			{#<i class="fa fa-sign-in fs22 text-primary"></i>#}
			{#<span class="badge badge-hero badge-danger">3</span>#}
			{#</a>#}
			{#</div>#}
			{#</div>#}
		</header>
		<!-- End: Content-Wrapper -->

		<!-- Start: Topbar -->
		{#<header id="topbar" class="alt">#}
		{#<div class="topbar-left">#}
		{#<ol class="breadcrumb">#}
		{#<li class="crumb-active">#}
		{#<a href="dashboard.html">Dashboard</a>#}
		{#</li>#}
		{#<li class="crumb-icon">#}
		{#<a href="dashboard.html">#}
		{#<span class="glyphicon glyphicon-home"></span>#}
		{#</a>#}
		{#</li>#}
		{#<li class="crumb-link">#}
		{#<a href="dashboard.html">Home</a>#}
		{#</li>#}
		{#<li class="crumb-trail">Dashboard</li>#}
		{#</ol>#}
		{#</div>#}
		{#</header>#}
		<!-- End: Topbar -->

		<!-- Begin: Content -->
		<section id="content" class="{% if contentWrapperClass is defined %}{{ contentWrapperClass }}{% endif %} animated fadeIn">

			{% block body %}
				{% block fos_user_content %}{% endblock %}
			{% endblock %}

		</section>
		<!-- End: Content -->

	</section>
	<!-- End: Content-Wrapper -->

	{{ block('right_sidebar') }}

</div>
<!-- End: Main -->


<!-- Begin: Page Footer -->
<footer id="content-footer" class="affix">
	<div class="row">
		<div class="col-md-12">
			<span class="footer-legal">&copy; {% if "now"|date("Y") != 2015 %}2015 - {% endif %}{{ "now"|date("Y") }} Feedback International</span>
		</div>
	</div>
</footer>
<!-- End: Page Footer -->

{{ block('js_footer_includes') }}

{% block javascripts %}{% endblock %}

</body>
</html>
