{% block html_head %}
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<title>Feedback International{% if title is defined %} | {{ title }}{% endif %}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="">
	<meta name="author" content="Justin St. Germain">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Font CSS (Via CDN) -->
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

	<!-- FullCalendar Plugin CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/vendor/plugins/fullcalendar/fullcalendar.min.css') }}">

	<!-- Datatables CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/vendor/plugins/datatables/media/css/dataTables.bootstrap.css') }}">

	<!-- Datatables Editor Addon CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/vendor/plugins/datatables/extensions/Editor/css/dataTables.editor.css') }}">

	<!-- Datatables ColReorder Addon CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/vendor/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css') }}">

	<!-- Required Plugin CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/vendor/plugins/tagmanager/tagmanager.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/vendor/plugins/daterange/daterangepicker.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/vendor/plugins/colorpicker/css/bootstrap-colorpicker.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/vendor/plugins/select2/css/core.css') }}">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/assets/skin/default_skin/css/theme.css') }}">

	<!-- Admin Forms CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/assets/admin-tools/admin-forms/css/admin-forms.css') }}" />

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/site/assets/skin/custom.css') }}" />

	<!-- HTML5Shiz and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	{% block stylesheets %}{% endblock %}

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

{% endblock %}

