{% block js_footer_includes %}
	<!-- BEGIN: PAGE SCRIPTS -->

	<!-- jQuery -->
	<script src="{{ asset('bundles/site/vendor/jquery/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ asset('bundles/site/vendor/jquery/jquery_ui/jquery-ui.min.js') }}"></script>

	<!-- Sparkline Local -->
	<script src="{{ asset('bundles/site/vendor/plugins/sparkline/jquery.sparkline.min.js') }}"></script>

	<!-- HighCharts Plugin -->
	<script src="{{ asset('bundles/site/vendor/plugins/highcharts/highcharts.js') }}"></script>
	<script src="{{ asset('bundles/site/vendor/plugins/circles/circles.js') }}"></script>

	<!-- JvectorMap Plugin + US Map (more maps in plugin/assets folder) -->
	<script src="{{ asset('bundles/site/vendor/plugins/jvectormap/jquery.jvectormap.min.js') }}"></script>
	<script src="{{ asset('bundles/site/vendor/plugins/jvectormap/assets/jquery-jvectormap-us-lcc-en.js') }}"></script>

	<!-- FullCalendar Plugin + moment Dependency -->
	<script src="{{ asset('bundles/site/vendor/plugins/fullcalendar/lib/moment.min.js') }}"></script>
	<script src="{{ asset('bundles/site/vendor/plugins/fullcalendar/fullcalendar.min.js') }}"></script>

	<!-- Typeahead -->
	<script src="{{ asset('bundles/site/vendor/plugins/typeahead/typeahead.bundle.min.js') }}"></script>

	<!-- Time/Date Plugin Dependencies -->
	<script src="{{ asset('bundles/site/vendor/plugins/globalize/globalize.min.js') }}"></script>
	<script src="{{ asset('bundles/site/vendor/plugins/moment/moment.min.js') }}"></script>

	<!-- BS Dual Listbox Plugin -->
	<script src="{{ asset('bundles/site/vendor/plugins/duallistbox/jquery.bootstrap-duallistbox.min.js') }}"></script>

	<!-- Bootstrap Maxlength plugin -->
	<script src="{{ asset('bundles/site/vendor/plugins/maxlength/bootstrap-maxlength.min.js') }}"></script>

	<!-- Select2 Plugin Plugin -->
	<script src="{{ asset('bundles/site/vendor/plugins/select2/select2.min.js') }}"></script>

	<!-- TagManager Plugin -->
	<script src="{{ asset('bundles/site/vendor/plugins/tagmanager/tagmanager.js') }}"></script>

	<!-- DateRange Plugin -->
	<script src="{{ asset('bundles/site/vendor/plugins/daterange/daterangepicker.min.js') }}"></script>

	<!-- DateTime Plugin -->
	<script src="{{ asset('bundles/site/vendor/plugins/datepicker/js/bootstrap-datetimepicker.min.js') }}"></script>

	<!-- BS Colorpicker Plugin -->
	<script src="{{ asset('bundles/site/vendor/plugins/colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>

	<!-- MaskedInput Plugin -->
	<script src="{{ asset('bundles/site/vendor/plugins/jquerymask/jquery.maskedinput.min.js') }}"></script>

	<!-- Theme Javascript -->
	<script src="{{ asset('bundles/site/assets/js/utility/utility.js') }}"></script>
	<script src="{{ asset('bundles/site/assets/js/demo/demo.js') }}"></script>
	<script src="{{ asset('bundles/site/assets/js/main.js') }}"></script>

	<!-- Widget Javascript -->
	<script src="{{ asset('bundles/site/assets/js/custom.js') }}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {

			"use strict";

			// Init Demo JS
			Demo.init();

			// Init Theme Core
			Core.init();

		});
	</script>
	<!-- END: PAGE SCRIPTS -->
{% endblock %}