{% block page_header %}
	<!-- Start: Header -->
	<header class="navbar navbar-fixed-top navbar-shadow">
		<div class="navbar-branding">
			<a class="navbar-brand" href="{{ path('admin') }}">
				<b>Feedback</b>International
			</a>
			<span id="toggle_sidemenu_l" class="ad ad-lines"></span>
		</div>
		{#<ul class="nav navbar-nav navbar-left">#}
			{#<li class="dropdown menu-merge hidden-xs">#}
				{#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown#}
					{#<span class="caret caret-tp"></span>#}
				{#</a>#}
				{#<ul class="dropdown-menu" role="menu">#}
					{#<li><a href="#">Action</a></li>#}
					{#<li><a href="#">Another action</a></li>#}
					{#<li><a href="#">Something else here</a></li>#}
					{#<li class="divider"></li>#}
					{#<li><a href="#">Separated link</a></li>#}
				{#</ul>#}
			{#</li>#}
		{#</ul>#}
		{#<form class="navbar-form navbar-left navbar-search square" role="search">#}
			{#<div class="form-group">#}
				{#<input type="text" class="form-control" placeholder="Search..." />#}
			{#</div>#}
		{#</form>#}
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown menu-merge">
				<a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
					<img src="{{ asset('bundles/site/assets/img/avatars/1.jpg') }}" alt="avatar" class="mw30 br64">
					<span class="hidden-xs pl15">{{ app.user.username }}</span>
					<span class="caret caret-tp hidden-xs"></span>
				</a>
				<ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
					<li class="list-group-item">
						<a href="{{ path('fos_user_profile_show') }}" class="animated animated-short fadeInUp"><span class="fa fa-gear"></span> Settings </a>
					</li>
					<li class="dropdown-footer">
						<a href="{{ path('fos_user_security_logout') }}" class=""><span class="fa fa-power-off pr5"></span> Logout </a>
					</li>
				</ul>
			</li>
		</ul>
	</header>
	<!-- End: Header -->

{% endblock %}