<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

</head>
<body>

{#<div>#}
	{#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
		{#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
		{#<a href="{{ path('fos_user_security_logout') }}">#}
			{#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
		{#</a>#}
	{#{% else %}#}
		{#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
	{#{% endif %}#}
{#</div>#}

{% for type, messages in app.session.flashBag.all %}
	{% for message in messages %}
		<div class="{{ type }}">
			{{ message|trans({}, 'FOSUserBundle') }}
		</div>
	{% endfor %}
{% endfor %}

{% block fos_user_content %}
{% endblock fos_user_content %}

</body>
</html>