{% extends "::base.html.twig" %}

{% block title %}SiteBundle:BusinessController:getBusiness{% endblock %}

{% block body %}
<h1>Welcome to the BusinessController:getBusiness page</h1>
{% endblock %}
