{% trans_default_domain 'FOSUserBundle' %}

<div class="admin-form theme-info mw500" id="login" style="margin-top: 3%;">

	<!-- Login Logo -->
	<div class="row table-layout">
		<a href="{{ path('site_homepage') }}" title="Return to Feedback International">
			<img src="{{ asset('bundles/site/assets/img/logos/logo.png') }}" title="Feedback International" class="center-block img-responsive" style="max-width: 275px;">
		</a>
	</div>

	<!-- Login Panel/Form -->
	<div class="panel mt30 mb25">

		<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
			<div class="panel-body bg-light p25 pb15">

				{#<!-- Email Input -->#}
				{#<div class="section">#}
					{#<label for="email" class="field-label text-muted fs18 mb10">{{ 'form.email'|trans }}</label>#}
					{#<label for="email" class="field prepend-icon">#}
						{#{{ form_widget(form.email) }}#}
						{#<label for="email" class="field-icon">#}
							{#<i class="fa fa-envelope"></i>#}
						{#</label>#}
					{#</label>#}
				{#</div>#}

				{#<!-- Username Input -->#}
				{#<div class="section">#}
					{#<label for="username" class="field-label text-muted fs18 mb10">{{ 'form.username'|trans }}</label>#}
					{#<label for="username" class="field prepend-icon">#}
						{#{{ form_widget(form.username) }}#}
						{#<label for="username" class="field-icon">#}
							{#<i class="fa fa-user"></i>#}
						{#</label>#}
					{#</label>#}
				{#</div>#}

				{#<!-- Password Input -->#}
				{#<div class="section">#}
					{#<label for="password" class="field-label text-muted fs18 mb10">{{ 'form.password'|trans }}</label>#}
					{#<label for="password" class="field prepend-icon">#}
						{#{{ form_widget(form.plainPassword.first) }}#}
						{#<label for="password" class="field-icon">#}
							{#<i class="fa fa-lock"></i>#}
						{#</label>#}
					{#</label>#}
				{#</div>#}

				{#<!-- Password Confirmation Input -->#}
				{#<div class="section">#}
					{#<label for="password_confirmation" class="field-label text-muted fs18 mb10">{{ 'form.password_confirmation'|trans }}</label>#}
					{#<label for="password_confirmation" class="field prepend-icon">#}
						{#{{ form_widget(form.plainPassword.second) }}#}
						{#<label for="password_confirmation" class="field-icon">#}
							{#<i class="fa fa-lock"></i>#}
						{#</label>#}
					{#</label>#}
				{#</div>#}

				{{ form_widget(form) }}

			</div>

			<div class="panel-footer clearfix">
				{#<button id="_submit" name="_submit" type="submit" class="button btn-primary mr10 pull-right" value="{{ 'security.login.submit'|trans }}">Sign In</button>#}
				<input class="button btn-primary mr10 pull-right" type="submit" value="{{ 'registration.submit'|trans }}" />
			</div>

		</form>

	</div>

	<!-- Registration Links -->
	<div class="login-links">
		<p>Already have an account?
			<a href="{{ path('fos_user_security_login') }}" title="Sign In">Sign in here</a>
		</p>
	</div>

	<!-- Registration Links(alt) -->
	<div class="login-links hidden">
		<a href="{{ path('fos_user_security_login') }}" class="active" title="Sign In">Sign In</a> |
		<a href="{{ path('fos_user_registration_register') }}" class="" title="Register">Register</a>
	</div>

</div>
