{% set title = 'Manage Bussinesses' %}

{% extends ":admin:base.html.twig" %}

{% block body %}

	<div class="tray tray-center">
		<div class="row">
			<div class="col-md-12">
				<h4>{{ business.name }}</h4>
				<hr class="alt short">
			</div>
		</div>
		<div class="row">

			<div class="col-md-12">
				{#<div class="panel">#}
					{#<div class="panel-heading">#}
						{#<span class="panel-title"> Typeahead Inputs</span>#}
					{#</div>#}
					{#<div class="panel-body p25">#}
						{#<form class="form-horizontal" role="form">#}
							{#<div class="form-group">#}
								{#<label class="col-md-3 control-label">Try Me</label>#}
								{#<div class="col-md-8">#}
									{#<input type="text" class="form-control typeahead" id="test-field" placeholder="States of USA">#}
								{#</div>#}
							{#</div>#}
						{#</form>#}
					{#</div>#}
				{#</div>#}
				<div class="panel panel-visible" id="spy4">
					<div class="panel-heading">
						<div class="panel-title hidden-xs">
							<span class="glyphicon glyphicon-tasks"></span>Datatable Popup Editor
						</div>
					</div>
					<div class="panel-body pn">
						<table id="example" class="table table-striped table-hover fchild-checkbox" cellspacing="0" width="100%">
							<thead>
							<tr>
								<th></th>
								{#<th>ID</th>#}
								<th>Username</th>
								<th>First Name</th>
								<th>Last Name</th>
							</tr>
							</thead>
							<tfoot>
							<tr>
								<th></th>
								{#<th>Id</th>#}
								<th>Username</th>
								<th>First Name</th>
								<th>Last Name</th>
							</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>

{% endblock %}

{% block javascripts %}

	<!-- Datatables -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>

	<!-- Datatables Tabletools addon -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js') }}"></script>

	<!-- Datatables Editor addon - READ LICENSING NOT MIT  -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/extensions/Editor/js/dataTables.editor.js') }}"></script>

	<!-- Datatables Bootstrap Modifications  -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/extensions/Editor/js/editor.bootstrap.js') }}"></script>

	<!-- Xedit JS -->
	{#<script src="{{ asset('bundles/site/vendor/plugins/moment/moment.min.js') }}"></script>#}

	<!-- Dependency -->
	{#<script src="{{ asset('bundles/site/vendor/plugins/xeditable/js/bootstrap-editable.min.js') }}"></script>#}
	{#<script src="{{ asset('bundles/site/vendor/plugins/xeditable/inputs/address/address.js') }}"></script>#}
	{#<script src="{{ asset('bundles/site/vendor/plugins/xeditable/inputs/typeaheadjs/lib/typeahead.js') }}"></script>#}
	{#<script src="{{ asset('bundles/site/vendor/plugins/xeditable/inputs/typeaheadjs/typeaheadjs.js') }}"></script>#}

	<script>

		var editor; // use a global for the submit and return data rendering in the examples

		// Our custom field type
		$.fn.dataTable.Editor.fieldTypes.autoComplete = {
			"create": function ( conf ) {
				conf._input = $('<input type="text" id="'+conf.id+'">')
						.autocomplete( conf.opts || {} );

				return conf._input[0];
			},

			"get": function ( conf ) {
				return conf._input.val();
			},

			"set": function ( conf, val ) {
				conf._input.val( val );
			},

			"enable": function ( conf ) {
				conf._input.autocomplete( 'enable' );
			},

			"disable": function ( conf ) {
				conf._input.autocomplete( 'disable' );
			},

			// Non-standard Editor method - custom to this plug-in
			"node": function ( conf ) {
				return conf._input;
			},

			"update": function ( conf, options ) {
				conf._input.autocomplete( 'option', 'source', options );
			}
		};




		$(document).ready(function() {

			var usersJSON = (function () {
				var json = null;
				$.ajax({
					'async': false,
					'global': false,
					'url': "{{ path('get_list_of_usernames') }}",
					'dataType': "json",
					'success': function (data) {
						usersJSON = data;
					}
				});
				return usersJSON;
			})();

			editor = new $.fn.dataTable.Editor({
				ajax: "{{ path('get_business_users', {'businessId': business_id}) }}",
				table: "#example",
				fields: [
					{
						label: "Username:",
						name: "username",
						type: "autoComplete",
						opts: {
							source: usersJSON
						},
						id: "username"
					}
				]
			});


//			$('#example').on('click', 'tbody td', function(e) {
//				editor.bubble(this);
//			});


			$('#example').DataTable({
				dom: '<"dt-panelmenu clearfix"Tfr>t<"dt-panelfooter clearfix"ip>',
				ajax: "{{ path('get_business_users', {'businessId': business_id}) }}",
				columns: [{
					data: null,
					defaultContent: '',
					orderable: false
				},
					{ data: "username" },
					{ data: "firstName" },
					{ data: "lastName" }
				],
				order: [1, 'asc'],
				tableTools: {
					"sSwfPath": "/bundles/site/vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
					sRowSelect: "os",
					sRowSelector: 'td:first-child',
					aButtons: [
						{ sExtends: "editor_create", editor: editor },
//						{ sExtends: "editor_edit", editor: editor },
						{ sExtends: "editor_remove", editor: editor }
					]
				}
			});


		} );


	</script>
{% endblock %}
