{% set title = 'Manage Bussiness' %}
{% set bodyClass = 'datatables-page' %}

{% extends ":admin:base.html.twig" %}

{% block body %}


	<!-- Demo Content: Center Column Text -->
	<div class="tray tray-center">
		<div class="row">
			<div class="col-md-12">
				<h4>Settings</h4>
				<hr class="alt short">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-visible" id="spy3">
					<div class="panel-heading">
						<div class="panel-title hidden-xs">
							<span class="glyphicon glyphicon-tasks"></span>Exportable Datatable
						</div>
					</div>
					<div class="panel-body pn">
						<table class="table table-striped table-hover" id="datatable3" cellspacing="0" width="100%">
							<thead>
							<tr>
								<th>Name</th>
								<th>Address</th>
								<th>City</th>
								<th>State</th>
								<th>Postal Code</th>
								<th>Rating</th>
								<th>Manage</th>
							</tr>
							</thead>
							<tfoot>
							<tr>
								<th>Name</th>
								<th>Address</th>
								<th>City</th>
								<th>State</th>
								<th>Postal Code</th>
								<th>Rating</th>
								<th>Manage</th>
							</tr>
							</tfoot>
							<tbody>
							{% for business in businesses %}
								<tr>
									<td>{{ business.name }}</td>
									<td>{{ business.address1 }}{% if business.address2 != null or business.address2 != '' %}, {{ business.address2 }}{% endif %}</td>
									<td>{{ business.city }}</td>
									<td>{{ business.state }}</td>
									<td>{{ business.zip }}</td>
									<td>{% if business.avg_rating == null %}
											Not Rated
										{% else %}
											{{ business.avg_rating }}
										{% endif %}
									</td>
									<td><a href="{{ path('manage_business', {'businessId': business.id}) }}">edit</a></td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
<a href="copy_csv_xls_pdf.swf"></a>

{% endblock %}

{% block javascripts %}
	<!-- Datatables -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>

	<!-- Datatables Tabletools addon -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js') }}"></script>

	<!-- Datatables ColReorder addon -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js') }}"></script>

	<!-- Datatables Bootstrap Modifications  -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>

	<script>
		// Init DataTables
		$('#datatable3').dataTable({
			"oLanguage": {
				"oPaginate": {
					"sPrevious": "",
					"sNext": ""
				}
			},
			"iDisplayLength": 20,
			"aLengthMenu": [
				[5, 10, 25, 50, -1],
				[5, 10, 25, 50, "All"]
			],
			"sDom": '<"dt-panelmenu clearfix"Tfr>t<"dt-panelfooter clearfix"ip>',
			"oTableTools": {
				"sSwfPath": "/bundles/site/vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
			}
		});
	</script>
{% endblock %}
