{% set title = 'Manage Bussinesses' %}
{% set bodyClass = 'charts-highcharts-page' %}
{% set contentWrapperClass = 'table-layout' %}

{% extends ":admin:base.html.twig" %}

{% block body %}

	<!-- begin: .tray-left -->
	<aside class="tray tray-left tray320" data-tray-height="match">

		<h4 class="mt5 mb20">My Businesses - <small>"Your Data..Alive"</small></h4>
		<ul class="icon-list">
			<li>
				<i class="fa fa-exclamation-circle text-warning fa-lg pr10"></i>
				<b> Author:</b> www.highcharts.com
			</li>
			<li>
				<i class="fa fa-exclamation-circle text-warning fa-lg pr10"></i>
				<b> License:</b> CC - NonCommercial 3.0
			</li>
			<li>
				<i class="fa fa-exclamation-circle text-warning fa-lg pr10"></i>
				<b> Website:</b>
				<a href="http://www.highcharts.com">www.highcharts.com </a>
			</li>
		</ul>

		<div id="nav-spy">
			<ul class="nav tray-nav" data-smoothscroll="-70" data-spy="affix" data-offset-top="200">

				{# INSERT LOOP OF BUSINESSES HERE #}

				{% for business in businessList %}
					<li>
						<a href="">
							<span class="fa fa-bar-chart fa-lg"></span> {{ business.name }}</a>
					</li>
				{% endfor %}

				{#<li class="active">#}
				{#<a href="#pchart1">#}
				{#<span class="fa fa-bar-chart fa-lg"></span> Basic Column Chart</a>#}
				{#</li>#}
				{#<li>#}
				{#<a href="#pchart2">#}
				{#<span class="fa fa-bar-chart fa-lg"></span> Synced Spline Chart</a>#}
				{#</li>#}
			</ul>
		</div>

	</aside>
	<!-- end: .tray-left -->

	<!-- begin: .tray-center -->
	<div class="tray tray-center">

		<!-- Stats Top Graph Bot -->
		<div class="panel" id="pchart8">
			<div class="panel-heading">
              <span class="panel-title text-info fw600">
                <i class="fa fa-pencil hidden"></i> Filterable Area Graph</span>
			</div>
			<div class="panel-body pn">
				<div id="high-line3" style="width: 100%; height: 400px; margin: 0 auto"></div>
			</div>
		</div>

	</div>
	<!-- end: .tray-center -->

{% endblock %}

{% block javascripts %}

	<!-- Page Javascript -->
	<script src="{{ asset('bundles/site/assets/js/highcharts.js') }}"></script>

	<script type="text/javascript">
		jQuery(document).ready(function() {

			// This page contains more Initilization Javascript than normal.
			// As a result it has its own js page. See charts.js for more info
			demoHighCharts.init();

		});
	</script>
	<!-- END: PAGE SCRIPTS -->

{% endblock %}
