{% set title = 'Welcome' %}

{% extends 'base.html.twig' %}

{% block body %}

	<a href="{{ path('site_homepage') }}" class="" title="home"><img src="{{ asset('bundles/site/assets/img/logos/logo_white.png') }}" title="Feedback International" class="img-responsive w200 ml10"></a>

	<div class="admin-form theme-info" id="login1" style="margin-top: 6%;">

		<div id="counter"></div>

		<h1 class="coming-soon-title"> We're Getting Ready To Launch!</h1>

		{{ block('newsletter') }}

	</div>

{% endblock %}

{% block javascripts %}

	<!-- Countdown Plugin -->
	<script src="{{ asset('bundles/site/vendor/plugins/countdown/jquery.plugin.min.js') }}"></script>
	<script src="{{ asset('bundles/site/vendor/plugins/countdown/jquery.countdown.min.js') }}"></script>

	<!-- Page Javascript -->
	<script type="text/javascript">
		jQuery(document).ready(function() {

			// Init Countdown Plugin
			var launchDate = new Date();
			launchDate = new Date(2015, 8, 15);
			$('#counter').countdown({
				until: launchDate
			});

			// For further documentation, settings, and examples
			// see http://keith-wood.name/countdownRef.html

		});
	</script>

	<!-- END: PAGE SCRIPTS -->

{% endblock %}
