.navbar-branding {
	width: auto;
}

/*.tray {*/
	/*width: 100%;*/
/*}*/

.alert {
	position: fixed;
	top: 0;
	width: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	text-align: center;
	font-weight: bold;
	z-index: 99999;
}

.ui-widget-content {
	z-index: 2000;
}

@media (max-width: 768px) {

	.countdown-amount {
		color: #FFF;
		font-weight: 200;
		font-size: 45px;
	}

	.countdown-period {
		display: block;
		color: #FFF;
		font-weight: 200;
		font-size: 16px;
	}

}

