{% set title = 'Admin' %}

{% extends ":admin:base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


	<div class="tray tray-center">
		<div class="row">
			<div class="col-md-12">
				<h4>Dashboard</h4>
				<hr class="alt short">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				Application dashboard will be here

			</div>
		</div>
	</div>

{% endblock %}
