{% trans_default_domain 'FOSUserBundle' %}

<!-- Begin: Content -->
<section id="content" class="animated fadeIn">

	<!-- Demo Content: Center Column Text -->
	<div class="ph10">
		<h4>Edit Settings</h4>
		<hr class="alt short">
		{{ form_start(user_details, {'action': path('process_my_user_details'), 'attr': {'id': 'profile-edit-form'}}) }}
			{{ form_widget(user_details) }}
			<div>
				<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
			</div>
		{{ form_end(user_details) }}
	</div>

</section>
<!-- End: Content -->
