{% set title = 'Manage Users' %}

{% extends ":admin:base.html.twig" %}

{% block body %}


	<!-- Demo Content: Center Column Text -->
	<div class="tray tray-center">
		<div class="row">
			<div class="col-md-12">
				<h4>Settings</h4>
				<hr class="alt short">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">

				<ul class="list-unstyled">
					<li>{{ user.firstName }}</li>
					<li>{{ user.lastName }}</li>
					<li>{{ user.username }}</li>
				</ul>

			</div>
		</div>
		<div class="row">
			<div class="col-md-3">

				<p><a class="btn btn-primary btn-block" href="{{ path('edit_user', {'userId': user.id}) }}">Edit User Details</a></p>

			</div>
		</div>
	</div>


{% endblock %}

