{% set title = 'Manage Users' %}

{% extends ":admin:base.html.twig" %}

{% block body %}


	<!-- Demo Content: Center Column Text -->
	<div class="tray tray-center">
		<div class="row">
			<div class="col-md-12">
				<h4>Settings</h4>
				<hr class="alt short">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-visible" id="spy3">
					<div class="panel-heading">
						<div class="panel-title hidden-xs">
							<span class="glyphicon glyphicon-tasks"></span>Exportable Datatable
						</div>
					</div>
					<div class="panel-body pn">
						<table class="table table-striped table-hover" id="datatable3" cellspacing="0" width="100%">
							<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Username</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.firstName }}</td>
									<td>{{ user.lastName }}</td>
									<td>{{ user.username }}</td>
									<td></td>
									<td></td>
									<td></td>
									<td><a href="{{ path('manage_user', {'userId': user.id}) }}">edit</a></td>
								</tr>
							{% endfor %}
							</tbody>
							<tfoot>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Username</th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block javascripts %}
	<!-- Datatables -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/media/js/jquery.dataTables.js') }}"></script>

	<!-- Datatables Tabletools addon -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js') }}"></script>

	<!-- Datatables ColReorder addon -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js') }}"></script>

	<!-- Datatables Bootstrap Modifications  -->
	<script src="{{ asset('bundles/site/vendor/plugins/datatables/media/js/dataTables.bootstrap.js') }}"></script>

	<script>
		// Init DataTables
		$('#datatable3').dataTable({
			"columnDefs": [
				{
					"targets": 6,
					"orderable": false
				}
			],
			"oLanguage": {
				"oPaginate": {
					"sPrevious": "",
					"sNext": ""
				}
			},
			"iDisplayLength": 20,
			"aLengthMenu": [
				[5, 10, 25, 50, -1],
				[5, 10, 25, 50, "All"]
			],
			"sDom": '<"dt-panelmenu clearfix"Tfr>t<"dt-panelfooter clearfix"ip>',
			"oTableTools": {
				"sSwfPath": "/bundles/site/vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
			}
		});
	</script>
{% endblock %}
