{% extends 'base.html.twig' %}

{% block title %}AdminBundle:Default:index{% endblock %}

{% block body %}
	<h1>Comments</h1>

	<ul class="list-unstyled">
	{% for comment in comments %}
		<li>
			{{ comment.business.name }}: {{ comment.message }}
		</li>
	{% endfor %}
	</ul>


	{#{{ form_start(businessForm, {'action': path('site_homepage'), 'attr': {'id': 'form-business'}}) }}#}
		{#{{ form_widget(businessForm.name) }}#}
		{#<div class="subscribe-box">#}
			{#<a class="subscribe-btn" href="#"><i class="fa fa-envelope"></i> Enter Business</a>#}
		{#</div>#}
	{#{{ form_end(businessForm) }}#}

{% endblock %}
